[Unit]
Description=自动更新服务器
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/Update
ExecStart=/bin/bash -c './start.sh'
ExecStop=/bin/bash -c './stop.sh'
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=update-server
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 